.main {
  padding: 5rem 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  line-height: 1.15;
  font-size: 3.6rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
